.header {
  background: #1D1B1B;
  background: #1D1B1B url("../img/404.jpg") center top/cover no-repeat;
}

.content-header {
  padding-top: 100px;
}

.content-header__title {
  opacity: 1;
  font-size: calc(27px + 17 * ((100vw - 320px) / 1600));
  text-transform: none;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 5vh;
}

.content-header__subtitle {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
}

.header__btn-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 400px;
}

@media (max-width: 767.98px) {
  .content-header {
    padding-top: 50px;
  }

  .header__btn-group {
    padding-bottom: 300px;
  }
}

@media (max-width: 576.98px) {
  .header__btn-group {
    padding-bottom: 20px;
  }
}

.webp .header { background: #1D1B1B url(../img/404.webp) center top/cover no-repeat; }