#header,
.footer-bottom {
  background: #1D1B1B;
}

.footer-cont {
  padding-top: 50px;
}

.footer-bottom {
  position: relative;
  margin: 0px -2px;
}

.crumbs {
  display: block;
  padding-top: 50px;
  padding-left: 15px;
  margin-left: -20px;
}

.crumb {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.crumb:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #E0B98D;
}

.crumb_active {
  color: #797979;
}

.about__content {
  padding-top: 0;
}

.ready-made {
  background: url(../img/pages/about/bg.jpg) center center/cover no-repeat;
}

.about-ready-made__text {
  max-width: 720px;
  padding-left: 0;
}

.blog__container {
  border-top: none;
}

.blog__item {
  text-align: center;
}

.blog__img {
  height: 336px;
}

.about-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.about-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding-bottom: 10px;
}

.about-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #797979;
  display: block;
}

@media (min-width: 576.98px) {
  .crumbs {
    padding-bottom: 30px;
  }

  .ready-made__container {
    padding-top: 0;
  }
}

@media (min-width: 991.98px) {
  .about__text {
    padding-top: 220px;
  }
}

@media (max-width: 576.98px) {
  .crumbs {
    text-align: center;
    padding-top: 15px;
  }
}

.webp .ready-made { background: url(../img/pages/about/bg.webp) center center/cover no-repeat; }