#header,
.footer-bottom {
  background: #1D1B1B;
}

.footer-cont {
  padding-top: 50px;
}

.footer-bottom {
  position: relative;
  margin: 0px -2px;
}

.crumbs {
  display: block;
  padding-top: 50px;
  padding-left: 15px;
  margin-left: -20px;
}

.crumb {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #797979;
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.crumb:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #E0B98D;
}

.our-projects__body {
  border: none;
  padding-bottom: 130px;
}

.our-projects__body:before {
  display: none;
}

.our-project__button {
  bottom: 55px;
}